$white: #FFFFFF!important;
$black: #000000!important;
$title: #00EC80!important;
$paragraph: #5D5D5D!important;
$green: #00EC80!important;
$tgreen: #00F78C!important;
$bg-light : #F5F5F5!important;
$bg-gray : #AAAAAA!important;
$bg-green : #05C46B!important;
$bg-badge-gray : #F7F7F7!important;
$bg-dark : #000000!important;
$footer-text: #5D5D5D!important;
$btn-color-one : #23DD87!important;
$btn-color-one-hover : #00e481!important;
$btn-color-two : #F5F5F5!important;
$btn-color-two-hover : #00e481!important;
$btn-color-two-hover-border : #07DD87!important;
$btn-link-color-hover : #00e481!important;
$btn-color-dark : #808080!important;

