label {
    font-family: 'Nexa-Bold'!important;
	font-size: 14px;
}

.form-floating>label {
    color: $black;
}

.form-control, .form-select {
    border-radius: 0.3125rem !important;
    font-family: 'Nexa-Regular'!important;
    border: 1px solid #BABBBC !important;
    color: $black;
}

.col-form-label {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    color: $paragraph;
}

.custom-file-button {
	input[type="file"] {
		margin-left: -2px !important;

		&::-webkit-file-upload-button {
			display: none;
		}
		&::file-selector-button {
			display: none;
		}
	}

	&:hover {
		label {
			background-color: #dde0e3;
			cursor: pointer;
		}
	}
}

.input-group-text {
    border: 1px solid #BABBBC;
}

.form-control, .form-select {
    font-size: 14px;
    background-color: #ffffff;
}
