.modal-dialog {
    max-width: 440px;
    transform: translate(0,-50px) !important;
}

.modal-content {
    border: 0px solid rgba(0,0,0,.2);
    border-radius: 8px;
}

.modal-header {
    border-bottom: 0px solid #dee2e6;
}

.form-control {
    padding: 0.7rem 0.75rem;
    font-size: 1rem;
    color: #000000;
    background-color: #F5F5F5;
    border: 1px solid #707070;
    border-radius: 1rem;
}


.modalbutton {
    .input-group-append {
        margin-left: 0;

        .btn-file_shared {
            background: transparent;
            border-radius: 0 5px 5px 0;
            height: 38px;
            border: 1px solid #07DD87;
            color: #23DD87;

            &:hover {
                background: #07DD87;
                color: #ffffff;
            }
        }
    }
}

.modalPreview {
    .modal-content {
        border: 1px solid #c5c5c5;
    }
}

h1 {
    color: #000000;
}

.form-select {
    background-color: #F5F5F5;
    border: 1px solid #707070!important;
    padding: 0.7rem 0.75rem;
}

.form-control-lg {
    padding: 0.5rem 0.75rem;
}

[type="file"]::-webkit-file-upload-button {
    padding: 0.70rem 1rem;
}

.modal {
    .close {
        border: 0;
        background: none;
    }
}


.modalTemplate {
    height: 100vh;

    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }

    .modal-content {
        height: 100vh;
    }

    .modal-dialog {
        max-width: 100%;
        transform: none !important;
    }

    .close {
        border: 0;
        background: none;
    }

    .card {
        background-color: #ffffff;
        border: 0px;
        box-shadow: rgba(35, 46, 60, 0.04) 0 2px 4px 0;
        border: 1px solid rgba(101, 109, 119, 0.16);
        width: 100%;
        // height: 310px;
        overflow: hidden;
    
        img {
            //transition: .5s;
        }

        &:hover {
            border: 1px #23DD87 solid;

            // img {
            //     transform: translateY(-42%);
            // }
        }

        
    }

    .template-list {

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: 0.5s ease;
            //background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(11, 11, 11, 0.3019607843) 100%) 0% 0% no-repeat padding-box;
            background: #00000080 0% 0% no-repeat padding-box;
            border-radius: 6px;

            .button-action {
                // padding-top: 45%;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -67px;
                margin-top: -20px;

                .btn {
                    min-width: 110px;
                }
            }
        }

        .template-item {
            &.active {
                .card {
                    border: 2px #23DD87 solid;
                }
            }
            &:hover {
                .overlay {
                    opacity: 1;
                }
            }
            .card-body {
                padding: 12px 12px 12px 12px;
            }
        }

    }
}

.modal-xl {
    width: 100%;
    min-height: auto;
    padding: 0;
    margin: 0;
    max-width: 100%;

    pre {
        height: 100%;
    }

    .modal-content {
        border: 0px solid transparent;
        border-radius: 0px;
    }

    :not(pre)>code[class*=language-], pre[class*=language-] {
        margin-bottom: 0px;
    }

    .modal-body.codeSource {
        padding-bottom: 0px!important;
    }

    .modal-footer {
        z-index: 1;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: white;
    }

    button.btn.btn-secondary.br-color.copy-code {
        margin-right: 5px;
    }
}